<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    This Splurty was built by <a target="_blank" href="http://github.com/pennybentley">Penny</a>. A web developer student who are on a mission to understand the technical skills needed to launch her own free lance web development business and turn ideas into reality.
  </p>
  <br />
  <p>
    She is determined to understand web development!!!
  </p>
  <p>
    If you want to learn how to code (like Penny!) - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
</div>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Profile_pic.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Penny Bentley</h2>
      <br />
      <p>
       Penny is new at this <a target="_blank" href="Profile_pic.jpg"></a> and most recently has been a PeopleSoft road warrior for <a target="_blank" href="http://www.sierra-cedar.com/">Sierra-Cedar</a>, doing implementation and upgrades for a variety of clients.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
<br />
<br />
<br />